.user-message {
    text-align: right;
    background-color: #d5d5d5;
  }
  
  .bot-message {
    text-align: left;
    background-color: #b0cce4;
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
  